:root {
	min-height: 100%;
	min-width: 100%;
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

	--white: white;
	--yellow: yellow;
	--green: #26ce42;

	--bg-color-top: #b7e9b4;
	--bg-color-bottom: #ebebad;
	background: linear-gradient(var(--bg-color-top), var(--bg-color-bottom)) no-repeat center center fixed;

	--box-color: rgba(255, 233, 210, 0.85);
	--title-hover-color: rgb(0, 94, 255);
	--form-bg-color: var(--white);
	--form-color: black;
	--input-placeholder-color: gray;
	--external-link-color: blue;
	--btn-bg-color: #00a6e3;
	--btn-color: var(--white);
	--toggle-checked: var(--green);

	--color-transitions: color .25s linear, background-color .25s linear, background .25s linear;
}

.darkmode:root {
	--white: #e6e6e6;
	--yellow: #def200;
	--green: #2C903D;

	--box-color: rgba(0, 25, 60, 0.67);
	--title-hover-color: var(--yellow);
	--form-bg-color: var(--white);
	--external-link-color: var(--yellow);
	--btn-bg-color: #0096ce;

	color: var(--white);
	background: black;
}

.darkmode-toggle-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;

	margin: 10px;
	font-size: large;
}

input.toggle {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	display: inline-block;
	position: relative;
	overflow: hidden;

	width: 62px;
	height: 32px;
	border-radius: 50px;

	cursor: pointer;

	border: none;
	background-color: #707070;

	transition: var(--color-transitions);
}

input.toggle:before {
	content: "on off";

	display: flex;
	align-items: center;

	position: absolute;
	left: 2px;
	top: 2px;
	z-index: 2;

	width: 28px;
	height: 28px;

	border-radius: 50%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

	background: var(--white, inherit);
	color: var(--white, inherit);

	font: 10px/28px Helvetica;
	font-weight: bold;
	text-indent: -22px;
	word-spacing: 37px;

	text-transform: uppercase;
	text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
	white-space: nowrap;

	transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.25s;
}

input.toggle:checked {
	background-color: var(--toggle-checked);
}

input.toggle:checked:before {
	left: 32px;
}

.darkmode-toggle:hover {
	scale: 1.1;
	opacity: 1;
}

body {
	min-height: 100%;
	text-align: center;
	margin: 0;
	margin-top: 7px;

	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

#title {
	transition: var(--color-transitions);
}

#title:hover {
	color: var(--title-hover-color);
}

#title:active {
	filter: brightness(0.95);
}

img:not(#mirror) {
	user-select: none;
	-webkit-touch-callout: none;
}

#mirror {
	max-width: 100%;
	height: auto;
	max-height: 350px;
}

#modeRadios * {
	vertical-align: middle;
}

#modeRadios {
	display: inline-block;
	width: 100%;
}

#modeRadios>* {
	margin: min(3%, 30px);
	white-space: nowrap;
	font-size: min(22px, 5vw);
}

input[type="radio"] {
	height: 20px;
	width: 20px;
}

form#controls {
	max-width: 500px;
	margin: 0 auto;
	font-size: larger;
}

div.inputField,
label.inputField {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.inputField label,
label.inputField {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

#captionControls {
	display: block;
	width: 100%;
}

input,
select {
	background-color: var(--form-bg-color);
	color: var(--form-color)
}

#caption,
#imagein,
#mathin {
	font-size: large;
	border: 2px solid black;
	padding: 7px;
	border-radius: 5px;
	width: 100%;
}

:is(#caption,
	#imagein,
	#mathin)::placeholder {
	color: var(--input-placeholder-color);
}

#imagein {
	display: inline-flex;
	font-size: medium;
	transition: var(--color-transitions);
}

#note p {
	color: red;
	margin: 10px 0;
}

.btn-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;

	max-width: 900px;

	margin: auto;
	margin-block-start: 15px;

	padding: 0 20px;
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 5px;

	min-height: 50px;
	min-width: 250px;
	width: max-content;

	padding: 0 15px;
	margin: 0;

	border-radius: 5px;
	background-color: var(--btn-bg-color);
	box-shadow: inset 0 -3px 8px 2px #414b72;
	color: var(--white);

	transition: var(--color-transitions), background-color .05s ease;

	font-size: medium;
	font-weight: bold;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.btn:hover {
	background-color: var(--green);
}

.btn:active {
	filter: brightness(0.9)
}

.btn:disabled {
	background-color: #97adb6;
}

.btn img {
	pointer-events: none;
}

#views {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

#views * {
	margin-top: 10px;
	max-height: 350px;
	box-sizing: content-box;
}

#camera--frame {
	position: relative;
}

#camera {
	display: inline-block;
}

#camera--trigger {
	position: absolute;
	min-width: 3.5rem;
	width: 13%;
	bottom: 0;
	left: min(43.5%, 50% - 1.75rem);
}

#camera--trigger:hover {
	filter: brightness(0.9);
}

#camera--trigger:active {
	filter: brightness(0.6);
}

#camera--trigger.disabled {
	opacity: 0;
}

#camera--flip {
	position: absolute;
	min-width: 3.5rem;
	width: 13%;
	bottom: -3px;
	right: 7px;
}

#camera--flip.disabled {
	opacity: 0;
}

#camera--flip:hover {
	filter: brightness(0.9);
}

#camera--flip:active {
	filter: brightness(0.6);
}

#camera--frame {
	margin: 0;
	padding: 0;
}

#camera--view {
	object-fit: cover;
	max-width: 100%;
	height: max(auto, 350px);
	object-position: center;
	transform: scaleX(-1);
}

#camera--view::-webkit-media-controls {
	display: none;
	pointer-events: none;
}

#camera--toggle:hover {
	filter: brightness(0.9);
}

#camera--toggle:active {
	filter: brightness(0.6);
}

.invisible {
	visibility: hidden;
}

.exclude {
	display: none;
}

.icon {
	max-width: min(10%, 30px);
}

#camera--sensor {
	display: none;
}

#sv-link {
	display: contents;
	text-decoration: none;
}

.box {
	display: block;
	max-width: 80rem;
	width: 90vw;
	background-color: var(--box-color);
	border-radius: 10px;
	padding: 5px 10px;
	transition: var(--color-transitions);

	margin: 0 auto;
}


#errorBox {
	display: flex;
	position: fixed;
	background-color: rgba(255, 0, 0, 0.85);
	height: 100px;
	width: 400px;
	bottom: 15px;
	left: 15px;
	border-radius: 7px;
	transition: opacity linear 2s;
	align-items: center;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	z-index: 5;
}

.fade {
	opacity: 0;
}

#errorCloseButton {
	align-self: stretch;
	border-radius: 7px;
	width: 75px;
	font-size: xx-large;
}

#errorBoxMessage {
	padding: 0 5px;
	color: white;
	text-shadow: 1px 1px 2px black;
}

.external-link:any-link {
	color: var(--external-link-color);
	font-weight: bold;
	text-decoration: none;
	transition: var(--color-transitions);
}

.external-link:hover {
	color: #21c201;
	text-decoration: underline;
}

.microphone:hover {
	filter: brightness(0.9);
}

.microphone:active {
	filter: brightness(0.6);
}

#language-label {
	display: block;
	margin-block: 10px;
	font-size: large;
	transition: var(--color-transitions);
}

#language-selector {
	transform: scale(1.2, 1.2);
	margin-left: 10px;
}

#mockTypeLabel {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 20px;

	width: min(100%, 500px);
	margin-block-start: 10px;
}

#mockTypeLabelText {
	min-width: max-content;
	width: 105px;
}

#mockType-selector {
	transform: scale(1, 1);
	font-size: medium;
	width: 100%;
}

.btn .icon {
	width: 22px;
	filter: invert(1);
}

@media (max-width: 650px) {
	.btn-group {
		max-width: 500px;
		padding: 0;
	}

	.btn,
	.btn.darkmode-ignore {
		min-width: fit-content;
		width: 100%;
	}

	#errorBox {
		width: calc(100% - 30px);
	}
}